/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@300&display=swap');
:root
{
    --main-color:#0aad0a;
    --light-color:#f0f3f2;
    --shadow: rgba(145,158,171,.2) 0px 2px 4px -1px,rgba(145,158,171,.14) 0px 4px 5px 0px,rgba(145,158,171,.12) 0px 1px 10px 0px;
    --font-family:'Encode Sans Expanded', sans-serif;
    --rating-color:#ffc908;
}

body{
    font-family: var(--font-family) !important;
}
.rating-color
{
    color: var(--rating-color);
}
.cursor-pointer
{
    cursor: pointer;
}
a , a:hover{
    color: black;
    text-decoration: none;
}
.product:hover
{
    box-shadow: var(--shadow);
    border: solid 1px var(--main-color);
}
.product .btn 
{
    transition: transform 1s , opacity 1s;
    transform: translateY(100%);
    opacity: 0;
}
.product:hover .btn 
{
    opacity: 1;
    transform: translateY(0%);

}
.product .btn:hover 
{
background-color: tomato !important;

}
.font-sm
{
    font-size: 14px;
}
.text-main
{
    color: var(--main-color);
}
.bg-main
{
    background-color: var(--main-color) !important;
}
.bg-main-light 
{
    background-color: var(--light-color) !important;
}

.imgs1 img
{
    height: 120px;
    object-fit: cover;
    overflow: hidden;
    object-position: top;
}
.imgs2 img
{
    height: 120px;
    object-fit: cover;
    overflow: hidden;
    object-position: bottom;
}
.cat img
{
height: 280px;
object-position: center;
object-fit: cover;
}
.table_img
{
    object-position: top;
    object-fit: cover;
}

.wish-img
{
    width: 70px !important;
    height: 70px !important;
    border-radius: 50%;
    object-fit: cover;
    
}

.drop_margin
{
    margin-right: -200px;
}




.network
{
  position: fixed;
  bottom: 50px;
  right: 50px;
  background-color:tomato;
  z-index:9999999999999;
  padding: 15px;
  border-radius: 50%;

}




